# Ignore local editor data
.idea
.vs
EBULA/bin
EBULA/obj
KINESIS/bin
KINESIS/obj
PUZZLEBOX/bin
PUZZLEBOX/obj
Server/bin
Server/obj
Server/KongorServer.csproj.user
TRANSMUTANSTEIN/bin
TRANSMUTANSTEIN/obj
ZORGATH/bin
ZORGATH/obj
